body {
  background-color: #F5F5DC
}

.main-header {
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 350%;
  margin-top: 70px;
  font-weight: bold;
}

.main-bg {
  background-image: url("./images/cassette.svg");
  background-position-y: -120px;
  background-size: contain;
  display: block;
  margin: auto;
  width: 45%;
  height: 800px;
}

.main-button {
  text-align: center;
  margin-top: -210px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
