body {
  background-color: #F5F5DC
}

.main-header {
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 350%;
  margin-top: 70px;
  font-weight: bold;
}

.main-button {
  margin-top: 20px;
  display:inline-block;
}

img {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 50%
}

.ui.list>.item .header {
  color: white;
}

.ui.list>a.item i.icon {
  color: white;
}

.ui.list>.item .description {
  color: white;
}

.ui.modal {
  width: 400px;
}

.ui.form {
  max-width: 400px;
}

#playlist-header {
  color: black;
}

#main-button-center {
  text-align: center;
}

#spotify-player {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 40%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
